[user]
	name = Andrew Cox
	email = andrew@andrewcox.org
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	ci = commit
	co = checkout
	dc = diff --cached
	lg = log -p
	pr = "!hub pull-request"
	prd = pull-request -b dev
	pop = reset HEAD^
	stat = status
	touch-remote = "!git pull && git commit --amend --no-edit && git push -f"

	# Get the current branch name (not so useful in itself, but used in
	# other aliases)
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	# Push the current branch to the remote "origin", and set it to track
	# the upstream branch
	publish = "!git push -u origin $(git branch-name)"
	# Delete the remote version of the current branch
	unpublish = "!git push origin :$(git branch-name)"

  # See also: https://gist.github.com/robmiller/5133264
  delete-merged = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = current
[pull]
	rebase = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[merge]
  tool = p4merge
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool]
	keepBackup = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
